/* globals.scss */

:root {
  --background: #f8fafc;
  --foreground: #171717;
  --header-height: 64px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans), system-ui, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
